* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

@media (min-width: 567px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

.centered {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
  font-size: 50px;
}

h2 {
  margin-bottom: 50px;
}

.home {
  width: fit-content;
  margin: 20px auto;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #6D66FE;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 768px) {
  * {
    text-align: center;
  }
}